.chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}
/* 500vh --> 100% */

.chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: #abc1d1;
}

.chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.75s linear;
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 7.5px 15px;
  border-radius: 15px;
  font-size: 13.5px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 45%;
  background-color: whitesmoke;
  padding: 5px;
  margin-right: 10px;
}

.message__author {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 10px;
  font-size: 16.5px;
  border-radius: 15px;
  margin-right: 5px;
  border-top-left-radius: 0;
}

.message__time {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message__bubble {
  background-color: var(--purple);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
  margin-right: 0px;
}

.message-row__own .message__info {
  flex-direction: row-reverse;
}

@keyframes smallToBig {
  0% {
    transform: none;
  }
  25% {
    transform: rotate(-20deg) scale(0.95);
  }
  50% {
    transform: rotate(10deg) scale(1.05);
  }
  75% {
    transform: rotate(-5deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
}

.message-row__content:hover {
  will-change: transform;
  animation: smallToBig 0.5s ease-in-out forwards;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
  font-size: 20px;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply__column > i {
  opacity: 0.6;
}

.reply input {
  padding: 15px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 4px;
  top: 3.45px;
}

.reply__column:last-child > i {
  right: 55px;
  top: 15px;
  font-size: 25px;
}

.reply__column button {
  width: 40px;
  height: 40px;
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column:first-child,
.fa-laugh {
  transition: opacity 0.4s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-laugh {
  opacity: 0;
}

.reply:focus-within input {
  width: 94vw;
  transform: translateX(-12.5%) translateY(-80px);
}
/* 97vw */

.reply:focus-within button {
  transform: translateX(21px) translateY(-80px);
}
/* 21px */

.reply:focus-within {
  transform: translateY(80px);
}

@keyframes beating {
  0% {
    color: rgba(0, 0, 0, 1);
  }
  50% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
  }
}

.reply__column button:hover {
  animation: beating 1s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}
